{% extends "main_template.html" %}


{% block title %}تغییر رمز عبور{% endblock  %}


{% block content %}

<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><strong><a href="{% url "main:index" %}">خانه</a></strong></li>
                        <li class="active" aria-current="page">/</li>&nbsp;
                        <li class="active" aria-current="page">حساب کاربری</li>&nbsp;
                        <li class="active" aria-current="page">/</li>&nbsp;
                        <li class="active" aria-current="page">احراز هویت</li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title d-flex justify-content-center">
                <h1>تغییر رمز عبور</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="card flex-grow-1 mb-md-0">
                        <div class="card-body">
                            <h3 class="card-title">احراز هویت</h3>
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary mt-4">تغییر رمز</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}
