{% extends "user_template.html" %}

{% block title %}ویرایس حساب کاربری{% endblock %}


{% block content %}
    
    <div class="block">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-9">
                    <div class="card flex-grow-1 mb-md-0">
                        <div class="card-body">
                            <h3 class="card-title">ویرایش حساب کاربری</h3>
                            
                            <form action="" method="post" enctype="multipart/form-data">

                                {% csrf_token %}

                                {{form.as_p}}
                                
                                {% if image %}
                                    <img src="{{media_url}}{{image}}" style="width:100px; height:100px;">
                                {% else %}
                                    <img src="{{media_url}}images/no-photo.png" style="width:100px; height:100px;">
                                {% endif %}
                                <br>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary mt-4">ویرایش</button>
                                    <a href="{% url "accounting:dashboard" %}" class="btn btn-info mt-4">انصراف</a>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

