<!-- desktop site__header -->
<header class="site__header d-lg-block d-none">
    <div class="site-header">
        <!-- .topbar -->
        <div class="site-header__topbar topbar">
            <div class="topbar__container container">
                <div class="topbar__row">
                    {% comment %} <div class="topbar__item topbar__item--link"><a class="topbar-link" href="about-us.html">درباره ما</a></div>
                    <div class="topbar__item topbar__item--link"><a class="topbar-link" href="contact-us.html">تماس با ما</a></div> {% endcomment %}
                    <div class="topbar__spring"></div>
                    <div class="topbar__item">
                        <div class="topbar-dropdown">
                            {% if user.is_authenticated %}
                            <button class="topbar-dropdown__btn" type="button">
                                <i class="fa fa-user"></i>
                                <a href="{% url "accounting:dashboard" %}" class="topbar-link">{{ request.session.display_name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{% url "accounting:logout_user" %}" class="topbar-link">خروج</a>
                            </button>
                            {% else %}
                            <button class="topbar-dropdown__btn" type="button">
                                <a>{{ request.session.display_name }}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{% url "accounting:login_user" %}" class="topbar-link">ورود به حساب کاربری</a>&nbsp;&nbsp;<span>|</span>&nbsp;
                                <a href="{% url "accounting:register_user" %}" class="topbar-link">ثبت نام</a>
                            </button>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="site-header__middle container">
            <div class="site-header__logo">
                <a href="{% url "main:index" %}">
                    {% comment %} <img src="{{media_url}}images/logo.png" alt=""> {% endcomment %}
                </a>
            </div>
            <div class="site-header__search">
                <div class="search">
                    <form class="search__form" action="{% url "products:search" %}">
                        <input class="search__input" name="q" placeholder="جستجو در میان محصول"
                            aria-label="Site search" type="text" autocomplete="off">
                        <button class="search__button" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <div class="search__border"></div>
                    </form>
                </div>
            </div>
            <div class="site-header__phone">
                <div class="site-header__phone-title">پشتیبانی</div>
                <div class="site-header__phone-number"><span class="ltr_text">021 - 444247..</span></div>
            </div>
        </div>
        <!-- .topbar / end -->
        <div class="site-header__nav-panel">
            <div class="nav-panel">
                <div class="nav-panel__container container">
                    <div class="nav-panel__row">
                        <div class="nav-panel__logo">
                            <a href="{% url "main:index" %}">
                                <img src="{{media_url}}images/shopLogo.png" alt="shopLogo">
                            </a>
                        </div>
                        <!-- .nav-links -->
                        {% include "partials/navbar.html" %}
                        <!-- .nav-links / end -->
                        <div class="nav-panel__indicators">
                            <div class="indicator indicator--trigger--click">
                                <button type="button" class="indicator__button">
                                    <span class="indicator__area">
                                        {% comment %} <i class="fa fa-search"></i> {% endcomment %}
                                    </span>
                                </button>
                                <div class="indicator__dropdown">
                                    <div class="drop-search">
                                        <form action="{% url "products:search" %}" class="drop-search__form">
                                            <input class="drop-search__input" name="q" 
                                                placeholder="جستجو در میان محصولات"
                                                aria-label="Site search" type="text" autocomplete="off">
                                            <button class="drop-search__button drop-search__button--submit"
                                                type="submit">
                                                {% comment %} <i class="fa fa-search"></i> {% endcomment %}
                                            </button>
                                        </form>
                                    </div>
                                </div> 
                            </div>
                            <div id="comparison_icon" class="indicator">
                                <a href="{% url "products:comparison_list" %}" class="indicator__button">
                                    <span class="indicator__area">
                                        <i class="fa fa-random" aria-hidden="true" style="color:white;"></i>
                                        <span id="comparison_count" class="indicator__value">0</span>
                                    </span>
                                </a>
                            </div>

                            <div class="indicator">
                                <a href="{% url "Hub:wish_list" %}" class="indicator__button">
                                    <span class="indicator__area">
                                        <i class="fa fa-heart" style="color:white;"></i>
                                    </span>
                                </a>
                            </div>
                      
                            <div class="indicator">
                                <a href="{% url "Shopping_Cart:shopping_cart" %}" class="indicator__button">
                                    <span class="indicator__area">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span class="indicator__value" id="indicator__value">0</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- desktop site__header / end -->
