<div class="nav-panel__nav-links nav-links">
    <ul class="nav-links__list">
        <li class="nav-links__item nav-links__item--with-submenu">
            <a href="{% url "main:index" %}">
                <span><i class="fa fa-home"></i>&nbsp; خانه</span>
            </a>
        </li>
        <li class="nav-links__item nav-links__item--with-submenu">
            <a href="#">
                <span>
                    دسته بندی کالاها
                    &nbsp;
                    <i class="fa fa-angle-down"></i>
                </span>
            </a>
            <div class="nav-links__megamenu nav-links__megamenu--size--nl">
                <!-- .megamenu -->
                <div class="megamenu">
                    <div class="row">
                        <div class="col-4">
                            <ul class="megamenu__links megamenu__links--level--0">
                                <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="">کالای دیجیتال</a>
                                    <ul
                                        class="megamenu__links megamenu__links--level--1">
                                        <li class="megamenu__item">
                                            <a href="product-list.html">موبایل</a>
                                            <ul>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">لوازم جانبی</a>
                                                </li>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">گوشی</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="megamenu__item">
                                            <a href="#">دوربین</a>
                                        </li>
                                        <li class="megamenu__item">
                                            <a href="#">لپ تاپ</a>
                                        </li>
                                        <li class="megamenu__item">
                                            <a href="#">سخت افزار کامپیوتر</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="megamenu__links megamenu__links--level--0">
                                <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="">مد و پوشاک</a>
                                    <ul
                                        class="megamenu__links megamenu__links--level--1">
                                        <li class="megamenu__item">
                                            <a href="#">مردانه</a>
                                            <ul>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">پیراهن</a>
                                                </li>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">شلوار</a>
                                                </li>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">کفش</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="megamenu__item">
                                            <a href="#">زنانه</a>
                                            <ul>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">پیراهن</a>
                                                </li>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">شلوار</a>
                                                </li>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">کفش</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="megamenu__item">
                                            <a href="#">بچه گانه</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="megamenu__links megamenu__links--level--0">
                                <li class="megamenu__item megamenu__item--with-submenu">
                                    <a href="">مواد غذایی</a>
                                    <ul
                                        class="megamenu__links megamenu__links--level--1">
                                        <li class="megamenu__item">
                                            <a href="#">کالای اساسی و خواربار</a>
                                            <ul>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">برنج</a>
                                                </li>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">قند</a>
                                                </li>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">سایر</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="megamenu__item">
                                            <a href="#">نوشیدنی</a>
                                            <ul>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">چای</a>
                                                </li>
                                                <li class="megamenu__links--level--2">
                                                    <a href="#">دمنوش</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- .megamenu / end -->
                {% comment %} <!-- .menu -->
            </div>
        </li>

        <li class="nav-links__item nav-links__item--with-submenu">
            <a href="#">
                <span>
                    حساب کاربری&nbsp;<i class="fa fa-angle-down"></i>
                </span>
            </a>
            <div class="nav-links__menu">
                {% if user.is_authenticated %}
                <ul class="menu menu--layout--classic">
                    <li><a href="{% url "accounting:logout_user" %}">خروج</a></li>
                </ul>
                {% else %}
                <ul class="menu menu--layout--classic">
                    <li><a href="{% url "accounting:login_user" %}">ورود</a></li>
                    <li><a href="{% url "accounting:register_user" %}">ثبت نام</a></li>
                </ul>
                {% endif %} {% endcomment %}
                <!-- .menu / end -->
            </div>
        </li>
        {% comment %} <li class="nav-links__item nav-links__item--with-submenu">
            <a href="#">
                <span><i class="fa fa-newspaper"></i>&nbsp; بلاگ</span>
            </a>
        </li> {% endcomment %}
    </ul>
</div>