<div class="block block--highlighted block-categories block-categories--layout--compact">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">دسته های محبوب</h3>
            <div class="block-header__divider"></div>
        </div>
        <div class="block-categories__list">
            <div class="block-categories__item category-card category-card--layout--compact">
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a href="">
                            <img src="images/categories/mobile.jpg" alt="">
                        </a>
                    </div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="">موبایل</a></div>
                        <div class="category-card__all"><a href="">نمایش همه</a></div>
                        <div class="category-card__products">780 محصول</div>
                    </div>
                </div>
            </div>
            <div class="block-categories__item category-card category-card--layout--compact">
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a href="">
                            <img src="images/categories/laptop.jpg" alt="">
                        </a>
                    </div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="">لپ تاپ</a></div>
                        <div class="category-card__all"><a href="">نمایش همه</a></div>
                        <div class="category-card__products">292 محصول</div>
                    </div>
                </div>
            </div>
            <div class="block-categories__item category-card category-card--layout--compact">
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a href="">
                            <img src="images/categories/clothing.png" alt="">
                        </a>
                    </div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="">پوشاک</a></div>
                        <div class="category-card__all"><a href="">نمایش همه</a></div>
                        <div class="category-card__products">189 محصول</div>
                    </div>
                </div>
            </div>
            <div class="block-categories__item category-card category-card--layout--compact">
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a href="">
                            <img src="images/categories/Foodstuffs.png" alt="">
                        </a>
                    </div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="">مواد غذایی</a></div>
                        <div class="category-card__all"><a href="">نمایش همه</a></div>
                        <div class="category-card__products">32 محصول</div>
                    </div>
                </div>
            </div>
            <div class="block-categories__item category-card category-card--layout--compact">
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a href="">
                            <img src="images/categories/hardware.jpg" alt="">
                        </a>
                    </div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="">سخت افزار</a></div>
                        <div class="category-card__all"><a href="">نمایش همه</a></div>
                        <div class="category-card__products">450 محصول</div>
                    </div>
                </div>
            </div>
            <div class="block-categories__item category-card category-card--layout--compact">
                <div class="category-card__body">
                    <div class="category-card__image">
                        <a href="">
                            <img src="images/categories/camera.png" alt="">
                        </a>
                    </div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="">دوربین</a></div>
                        <div class="category-card__all"><a href="">نمایش همه</a></div>
                        <div class="category-card__products">123 محصول</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>