{% if related_products %}
    <div class="block block-products-carousel" data-layout="grid-5">
        <div class="container">
            {% include "products/product_partials/root_groups.html" with title="محصولات مرتبط" %}
            <div class="product-flexbox" style="">
                {% for product in related_products %}
                    {% include "products/product_partials/product_box.html" with type=3 %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

